/* .modal-body {
    width: 32vw;
    height: 65vh;
    position: relative;
    left: 62vw;
    display: block;
    background-color: white;
    border-radius: 12px;
} */

#notify {
    position: relative;
    top: 13px
}

.modal-body form {
    padding: 21px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: white;
}

.modal-body {
    width: 42vw;
    height: 58vh;
    position: relative;
    left: 53vw;
    display: block;
    background-color: white;
    border-radius: 6px;
    /* border: 2px solid black; */
    padding: 25px;
}

#category {
    width: 20%;
    position: relative;
    top: 9px;
}

.makingFormFlex {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
}

#errorShowing {
    position: relative;
    bottom: 49px;
}

.loginSignUpButton {
    position: relative;
    left: 55vw;
}

#leaderboardButton {
    position: relative;
    left: 26vw;
}

#addExpenseForm {

    position: relative;
    top: 4vh;

}

#mainForm {
    border: 1px solid black;
}

#primeMemberButtton {
    position: relative;
    left: 54vw;
}

#hello {
    position: absolute;
    top: 7px;
    left: 20px;
}

#pagination {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    position: relative;
    top: 15px;
    width: 26vw;
    margin: 0 9vw;
}

#pagination a {
    text-decoration: none;
    color: #09695c;
    padding: 0.5rem;
    border: 1px solid #09695c;

}

.rowsperpage {
    width: 18vw;
    position: absolute;
    top: 15vw;
    right: 9vw;
}

#pagination a:hover,
#pagination a:active {
    background: #09695c;
    color: white;
}